@import "compass/css3";

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body{
  font-family: "Lato", "Helvetica" ,Arial;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

*, *:before, *:after{
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing:border-box;
}

.container{
  width: 350px;
  margin: auto;

  & > ul {
    list-style: none;
    padding:0;
    margin:0 0 20px 0;
  }
}

// =============================================================================
//	Mixins and Variables
// =============================================================================

$blue: #2980B9;
$gray:#EEE;
